<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="/online/static/css/common/base.css"/>
		<link rel="stylesheet" type="text/css" href="/online/static/css/common/common.css" />
		<link rel="stylesheet" href="/online/static/css/index.css" />
		<script type="text/javascript" src="/online/static/js/common/jquery-3.4.1.js.js" ></script>
		<script type="text/javascript" src="/online/static/js/common/common.js" ></script>		
	</head>
	<body>
		<div class="header">
			<div class="tobar ">
			  <div class="clearfix">	
				<div class="fl ">
					<a class="logo" href="#"></a>
					<span class="exchange">
						<i></i>
						上海
					</span>
				</div>
				<div class="fr clearfix">
					<div class="typeShowUser">
						<i></i>
						<span class="welcome">
							<a class="btn-login"><span class="login">登录</span></a>
							<a class="btn-register"><span class="register">立即注册</span></a>							
						</span>
					</div>
					<ul>
						<li><a class="" href="#">二手房</a></li>
						<li><a class="" href="#">新房</a></li>
						<li><a class="" href="/online/zufang">租房</a></li>
						<li><a class="" href="#">海外</a></li>
						<li><a class="" href="#">商业办公</a></li>
						<li><a class="" href="#">小区</a></li>
						<li><a class="" href="#">经纪人</a></li>
						<li><a class="" href="#">指南</a></li>
						<li><a class="" href="#">工具</a></li>
						<li><a class="" href="#">发布房源</a></li>
					</ul>
				</div>	
			</div>
			
				<div class="header-wrap">
					<div class="wrap-ico"></div>
					<div class="house-num">
						<ul>
							<li>上海链家真实租房 19750 套</li>
							<li style="display: none;">上海链家真实在售二手房 64990 套</li>
							<li style="display: none;">上海链家在售新房楼盘 1021 个</li>
						</ul>
					</div>
					<div class="search-box-wrap">
						<div class="search-box-con">
							<div class="menu">
								<ul>
								  <li class="check"><span>找二手房</span></li>
								  <li><span>找新房</span></li>
								  <li><span>找租房</span></li>
								  <li><span>找小区</span></li>
								  <li><span>搜问答</span></li>
								</ul>
								<i></i>
							</div>
							<div class="search">
								<div class="search-box">									
										<input type="text" id="keyword-box" class="searchval"/>
										<input type="button" id="findhouse" value="开始搜索" class="input_btn" />
																		
								</div>
							</div>
						</div>
					</div>
				</div>
			    <div class="pen-box">
			    	<div class="pen">
			    		<img src="/online/static/img/index/php3X11MP.png" />
			    		<a href="#">关于仿冒我公司进行不正当竞争行为的郑重声明</a>
			    	</div>
			    	<div class="pen">
			    		<img src="/online/static/img/index/phpAPdvEm.png" />
			    		<a href="#">关于仿冒我公司进行不正当竞争行为的郑重声明</a>
			    	</div>
			    </div>
			</div>
		</div>
		<div class="home-nav clearfix">
			<ul>
				<li class="hvr-bob">
					<a href="#">
						<img src="/online/static/img/index/25be787db406f85a8c1ed76bce2c8b1c.png" />
						<b>找二手房</b>
						<p>真实二手房源，链家承诺真实在售  所见即真</p>
					</a>
				</li>
				<li class="hvr-bob">
					<a href="">
						<img src="/online/static/img/index/9036ab8e40e733f96f93580ecba3691a.png" />
						<b>地图找房</b>
						<p>为您精准定位，位置周边配置一览无余</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="hand_house">
			<div class="wrapper clearfix">
				<div class="fl">
					<div class="title"></div>
					<p>集二手、新房、租房功能于一体，随时随地任性找房。IM匿名咨询让您放心，消息动态推送让您省心，服务承诺让您安心，数据百科锦囊让您感受贴心漫漫找房路，我们努力为您想更多。</p>
					<div class="download">
						<div class="hand-app">
							<a href="#" class="ios"></a>
							<a href="#" class="andriod"></a>
						</div>
						<div class="erweima"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="ershoufang-list">
			<div class="wrapper">			  
				 <div class="title"></div>
				 	<p class="title-desc">
					     好房源那么多，我们为你精选，链家网会越来越懂你
				       <a href="#">更多上海二手房</a>
				    </p>
				
				   <ul class="clearfix">
				   	<li>
				   		<a href="#">
				   			<div class="wra">
				   				<img  class="main-img" src="/online/static/img/ershoufang/prod-1.jpg" />
				   				<span class="vr_item"></span>
				   				<span class="good_house_icon">
				   					<img src="/online/static/img/ershoufang/good-ico.png" />
				   				</span>
				   				<div class="bottom">
				   					<p class="position">长宁·新华路</p>
				   					<p class="position">番禺大厦</p>
				   					<p class="tips">
				   						<span>1室1厅·43.09平米</span>
				   						<span class="tips-price">265万</span>
				   					</p>
				   				</div>
				   			</div>
				   		
				   	    </a>
				   	</li>
				   	  	<li>
				   		<a href="#">
				   			<div class="wra">
				   				<img  class="main-img" src="/online/static/img/ershoufang/prod-1.jpg" />
				   				<span class="vr_item"></span>
				   				<span class="good_house_icon">
				   					<img src="/online/static/img/ershoufang/good-ico.png" />
				   				</span>
				   				<div class="bottom">
				   					<p class="position">长宁·新华路</p>
				   					<p class="position">番禺大厦</p>
				   					<p class="tips">
				   						<span>1室1厅·43.09平米</span>
				   						<span class="tips-price">265万</span>
				   					</p>
				   				</div>
				   			</div>
				   		
				   	    </a>
				   	</li>
				   	  	<li>
				   		<a href="#">
				   			<div class="wra">
				   				<img  class="main-img" src="/online/static/img/ershoufang/prod-1.jpg" />
				   				<span class="vr_item"></span>
				   				<span class="good_house_icon">
				   					<img src="/online/static/img/ershoufang/good-ico.png" />
				   				</span>
				   				<div class="bottom">
				   					<p class="position">长宁·新华路</p>
				   					<p class="position">番禺大厦</p>
				   					<p class="tips">
				   						<span>1室1厅·43.09平米</span>
				   						<span class="tips-price">265万</span>
				   					</p>
				   				</div>
				   			</div>
				   		
				   	    </a>
				   	</li>
				   	  	<li>
				   		<a href="#">
				   			<div class="wra">
				   				<img  class="main-img" src="/online/static/img/ershoufang/prod-1.jpg" />
				   				<span class="vr_item"></span>
				   				<span class="good_house_icon">
				   					<img src="/online/static/img/ershoufang/good-ico.png" />
				   				</span>
				   				<div class="bottom">
				   					<p class="position">长宁·新华路</p>
				   					<p class="position">番禺大厦</p>
				   					<p class="tips">
				   						<span>1室1厅·43.09平米</span>
				   						<span class="tips-price">265万</span>
				   					</p>
				   				</div>
				   			</div>
				   		
				   	    </a>
				   	</li>
				   </ul>			    
			</div>			
		</div>
		<div class="xiaoqu-list">
			<div class="wrapper">
				<div class="title"></div>
				<p>
					纵览小区，恋上这座城
					<a href="#">更多上海小区</a>
				</p>
				<div class="xiaoqufang-list">
					<ul id="xiaoqulist" class="clearfix">
						<li>							
							<a href="#"><img src="/online/static/img/xiaoqufang/xiaoqufang1.jpg">
								<div class="titles">
									<div class="resblock-name">上海康城</div>
									<div class="resblock-desc">
										<span>35646<label>元/平</label></span>
										<span class="resblock-year">2001建</span>
									</div>
								</div>
							</a>
						</li>
						<li>							
							<a href="#"><img src="/online/static/img/xiaoqufang/xiaoqufang1.jpg">
								<div class="titles">
									<div class="resblock-name">上海康城</div>
									<div class="resblock-desc">
										<span>35646<label>元/平</label></span>
										<span class="resblock-year">2001建</span>
									</div>
								</div>
							</a>
						</li><li>							
							<a href="#"><img src="/online/static/img/xiaoqufang/xiaoqufang1.jpg">
								<div class="titles">
									<div class="resblock-name">上海康城</div>
									<div class="resblock-desc">
										<span>35646<label>元/平</label></span>
										<span class="resblock-year">2001建</span>
									</div>
								</div>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
			
		</div>
		<div class="new-house">
			<div class="wrapper">
				<div class="title"></div>
				<p>
					真实信息准确同步，楼盘动态一手掌握
				    <a href="#">更多上海新房</a>
				</p>
				<div class="newhouse-list clearfix">
					<ul>
						<li>
							<a href="#"><img src="/online/static/img/newhouse/newhouse1.jpg">
							<div class="titles">
								<span class="house-name">四季都会</span>
								<span class="house-price">43000<label>元/平</label></span>
							</div>
							</a>
						</li>
						<li>
							<a href="#"><img src="/online/static/img/newhouse/newhouse1.jpg">
							<div class="titles">
								<span class="house-name">四季都会</span>
								<span class="house-price">43000<label>元/平</label></span>
							</div>
							</a>
						</li>
						<li>
							<a href="#"><img src="/online/static/img/newhouse/newhouse1.jpg">
							<div class="titles">
								<span class="house-name">四季都会</span>
								<span class="house-price">43000<label>元/平</label></span>
							</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="haiwai-list">
			<div class="wrapper">
				<div class="title"></div>
				<p class="p">
					海量全球好房，畅享美好生活
					<a href="#">更多海外房源</a>
				</p>
				<div class="haiwaifang-list clearfix">
					<ul>
						<li>
							<a href="#">
								<div class="haiwai-wra">
									<img src="/online/static/img/haiwaifang/img-haiwaifang1.png" />
									<p class="dollar">约27-33万美元</p>
									<p class="china-yuan">约191-233万元</p>
								</div>
							</a>
							<div class="bottom">
								<p class="country">美国·亚特兰大</p>
								<p class="p01">名仕公馆</p>
								<div class="tips">
									<div class="tip-info">4室/5室 223-267m²</div>
								</div>
							</div>
						</li>
						<li>
							<a href="#">
								<div class="haiwai-wra">
									<img src="/online/static/img/haiwaifang/img-haiwaifang1.png" />
									<p class="dollar">约27-33万美元</p>
									<p class="china-yuan">约191-233万元</p>
								</div>
							</a>
							<div class="bottom">
								<p class="country">美国·亚特兰大</p>
								<p class="p01">名仕公馆</p>
								<div class="tips">
									<div class="tip-info">4室/5室 223-267m²</div>
								</div>
							</div>
						</li>
						<li>
							<a href="#">
								<div class="haiwai-wra">
									<img src="/online/static/img/haiwaifang/img-haiwaifang1.png" />
									<p class="dollar">约27-33万美元</p>
									<p class="china-yuan">约191-233万元</p>
								</div>
							</a>
							<div class="bottom">
								<p class="country">美国·亚特兰大</p>
								<p class="p01">名仕公馆</p>
								<div class="tips">
									<div class="tip-info">4室/5室 223-267m²</div>
								</div>
							</div>
						</li>
						<li>
							<a href="#">
								<div class="haiwai-wra">
									<img src="/online/static/img/haiwaifang/img-haiwaifang1.png" />
									<p class="dollar">约27-33万美元</p>
									<p class="china-yuan">约191-233万元</p>
								</div>
							</a>
							<div class="bottom">
								<p class="country">美国·亚特兰大</p>
								<p class="p01">名仕公馆</p>
								<div class="tips">
									<div class="tip-info">4室/5室 223-267m²</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="s-truth">
			<div class="wrapper">
				<div class="fl">
					<div class="truth-txt"></div>
				</div>
				<div class="truth-serach">
					<p>真实存在，真实在售，真实价格，真实图片！<br>链家郑重向用户承诺：真实房源，假一赔百元！</p>
					<div class="search-box">
						<div class="serach-inp">
							<input type="text" class="text" placeholder="请输入编号查询真伪...." />
							<span id="searchHouse" class="sub"></span>
						</div>
						
					</div>
					<div class="result-box"  style="display:none;">
						<i></i>
						<p class="hasnot">
							不存在房源编号
							<span class="idd">3333</span>
						</p>
						<p class="phone">服务监督电话 ：10109666</p>
					</div>
					</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrapper">
				<div class="f-title">
					<ul>
						<li><a href="#"  target="_blank">关于链家</a></li>
						<li><a href="#"  target="_blank">联系我们</a></li>
						<li><a href="#"  target="_blank">加入我们</a></li>
						<li><a href="#"  target="_blank">隐私声明</a></li>
						<li><a href="#"  target="_blank">网站地图</a></li>
						<li><a href="#"  target="_blank">友情链接</a></li>
					</ul>
					 <div class="fr">官方客服 1010 9666</div>
				</div>
				<div class="house-link-box clearfix">
				 <div class="box">
					<div class="tab">
						<span class="hover">二手房</span>
						<span>二手房</span>
						<span>新房</span>
						<span>合作与友情链接</span>
					</div>
					<div class="link-list">
						<div style="display: block;">
							<dd>
								<a  href="#" target="_blank">名表排行</a>
								<a  href="#" target="_blank">房产网</a>
								<a  href="#" target="_blank">上海分类信息网</a>
								<a  href="#" target="_blank">名表排行</a>
								<a  href="#" target="_blank">房产网</a>
								<a  href="#" target="_blank">上海分类信息网</a>
								
							</dd>
														
							</div>
					</div>
				 </div>
				</div>
				<div class="bottom">
					<div class="copyright">
						链家网（北京）科技有限公司 | 网络经营许可证 京ICP备16057509号-2 | © Copyright©2010-2019 链家网Lianjia.com版权所有 | <a target="_blank" href="#">营业执照</a>
						<br>违法和不良信息举报电话：010-86440676 违法和不良信息举报邮箱：jubaoyouxiang@lianjia.com
					
					</div>
					<div class="beian">
						<a href="#">
							<img src="/online/static/img/index/beian.png" />
							<p>京公网安备 11010802024019号</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="loginmodel" class="login_layer">
			<div class="login_bg animated"></div>
			<div class="login-panel">
				<div class="login-panel-close">×</div>
				<div class="login-box">
					<div class="login-panel-label">
						<h2 class="login-panel-title">手机号码注册</h2>
						<div class="login-panel-hint">
							<div class="login-panel-go">
								已有账号？
								<a href="#" class="btn-login">去登录</a>
							</div>
							
						</div>
					</div>
					<form>
					  <ul class="input_box">
	                    <li class="form_input_item first_child phonenum">
	                        <input class="phonenum_input" maxlength="11" placeholder="请输入手机号" type="text" autocomplete="username">
	                    </li>
	                    <li class="form_input_item picverifycode" >
	                        <input class="code_type picverifycode_input" placeholder="请输入验证码" type="text" autocomplete="off">
	                        <img class="verifyimg login_verify_img" src="/online/static/img/index/freshCaptch.jpg">
	                    </li>	                    
	                    <li class="form_input_item last_child messageverifycode">
	                        <input class="code_type messageverifycode_input" placeholder="请输入短信验证码" type="text" autocomplete="off">
	                        <a class="addtional_a send_login_message_verify">
	                            <em>获取验证码</em>
	                        </a>
	                    </li>
	                    <li class="form_input_item last_child password" >
	                        <input class="password_type password_input" placeholder="请输入密码" type="password" autocomplete="current-password">
	                        <em class="password-view"></em>
	                    </li>
	                    <li class="form_input_item last_child setpassword" style="display: none;">
	                        <input class="password_type setpassword_input" placeholder="请输入密码（最少8位，数字+字母）" type="password" autocomplete="current-password">
	                        <em class="password-view"></em>
	                    </li>
                	  </ul>
                	  <!--登录 7天免登录--->
                	  <div class="login_remember remember" >
	                    <label class="checkbox-btn">
	                        <input type="checkbox" name="remember" data-defval="1" class="mind-login remember_input" checked="" value="1">
	                        <span class="checkbox"></span>7天内免登录
	                    </label>
                    	<div class="login_panel_forget_password">
                    		<a href="#">忘记密码</a>
                    	</div>
                	  </div>
                	   <!--注册协议---->
					  <div class="login_protocol protocol">
				    	<label class="checkbox-btn">
                        	<input type="checkbox" name="protocol"  dat class="mind-login protocol_input" checked="" value="1">
                        	<span class="checkbox"></span>我已阅读并同意
                        	<a class="link-btn font-color" href="#" target="_blank">《链家隐私政策》</a>及
                        	<a class="link-btn font-color" href="#" target="_blank">《链家用户使用协议》</a>
                    	</label>
                    	
				    </div>
				    <div class="btn confirm_btn login_panel_op login_submit _bgcolor">注册</div>
				    <!--登录按钮底部-->
				    <div class="login_panel_change_login_type" style="display: none;">
				    	<a href="#" class="change_login_type common">账号密码登录</a>
				    	<p class="longin_type_bottom_text">
				    		登录即代表同意
				    		<a href="#" class="link-btn-color">《链家隐私政策》</a>
				    		及
				    		<a href="#" class="link-btn-color">《链家用户使用协议》</a>
				    	</p>
				    </div>
					</form>
				    
					
				</div>
			</div>
		</div>
	</body>
</html>
