<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/online/static/css/common/base.css" />
		<link rel="stylesheet" href="/online/static/css/common/common.css" />
		<link rel="stylesheet" href="/online/static/css/zf/zufang.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<ul class="header-wrap clearfix">
					<li><a href="#">首页</a></li>
					<li><a href="#">二手房</a></li>
					<li><a href="#">新房</a></li>
					<li><a href="#">租房</a></li>
					<li><a href="#">海外</a></li>
					<li><a href="#">小区</a></li>
					<li><a href="#">经纪人</a></li>
					<li><a href="#">指南</a></li>
					<li><a href="#">工具</a></li>
					<li><a href="#">发布房源</a></li>
					<li class="header-aside">
						<span class="login-box">
							<span class="btn-login">登录</span>/
							<span class="btn-register">注册</span>
						</span>
					</li>
					
				</ul>
			</div>
			<div class="serach_area">
				<div class="house-nav">
					<a href="#" class="house-logo"></a>
					<ul>
						<li> <a href="#" class="cur">首页</a></li>
						<li> <a href="#">整租</a></li>
						<li> <a href="#">合租</a></li>
						<li> <a href="#">下载APP</a></li>
					</ul>
				</div>
				<div class="serach">
					<div class="serach-wrapper">
						<input type="text" class="input-text" autocomplete="off" placeholder="请输入区域、商圈或小区名开始找房"/>
						<span class="serach-btn"></span>
						<div class="sug-serach"></div>
					</div>
				</div>
			</div>
			<div class="bread-nav">
				<p><a href="#">上海链家网</a>&nbsp;>&nbsp;</p>
				<h1><a href="#">上海租房</a></h1>
			</div>
			<div class="filter">
				<div class="filter-wrapper">
					<ul>
						<li class="filter-item-level1 down strong"><a href="#">按区域</a></li>
						<li class="filter-item-level1"><a href="#">按地铁</a></li>
					</ul>
					<ul>
					  <li class="filter-item-level2 filter-item-aside strong"><a href="#">不限</a></li>
					  <li class="filter-item-level2"><a href="#">宝山</a></li>
					  <li class="filter-item-level2"><a href="#">静安</a></li>
					  <li class="filter-item-level2"><a href="#">黄埔</a></li>
					  <li class="filter-item-level2"><a href="#">长宁</a></li>
					  <li class="filter-item-level2"><a href="#">浦东</a></li>
					  <li class="filter-item-level2"><a href="#">虹口</a></li>		
					</ul>
					<ul class="filter-ul">
					  <li class="filter-item-level3 filter-item-aside"><a href="#">方式</a></li>
					  <li class="filter-item-level3 strong"><a href="#">不限</a></li>
					  <li class="filter-item-level3"><a href="#">整租</a></li>
					  <li class="filter-item-level3"><a href="#">合租</a></li>
					  	
					</ul>
					<ul class="filter-ul">
					  <li class="filter-item-level4 filter-item-aside"><a href="#">租金</a></li>
					  <li class="filter-item-level4 checked"><a href="#">&le;1000元</a></li>
					  <li class="filter-item-level4 check"><a href="#">1000-1500</a></li>
					  <li class="filter-item-level4 check"><a href="#">1500-2000</a></li>
					  <li class="filter-item-level4 check"><a href="#">2000-3000</a></li>
					  <li class="filter-item-level4 check"><a href="#">3000-5000</a></li>
					  <li class="filter-item-level4 check"><a href="#">5000-8000</a></li>
					  <li class="filter-item-level4 check"><a href="#">&ge;8000</a></li> 
					  <li class="filter-item-input">
					  	 <input />-<input />元
					  	<span class="filter-button"></span>
					  </li>
					</ul>
					<ul class="filter-ul">
					  <li class="filter-item-level4 filter-item-aside"><a href="#">户型</a></li>
					  <li class="filter-item-level4 check"><a href="#">一室</a></li>
					  <li class="filter-item-level4 check"><a href="#">两室</a></li>
					  <li class="filter-item-level4 check"><a href="#">三室</a></li>
					  <li class="filter-item-level4 check"><a href="#">四室+</a></li>
					  	
					</ul>
					<ul class="filter-ul">
					  <li class="filter-item-level4 filter-item-aside"><a href="#">朝向</a></li>
					  <li class="filter-item-level4 check"><a href="#">东</a></li>
					  <li class="filter-item-level4 check"><a href="#">西</a></li>
					  <li class="filter-item-level4 check"><a href="#">南</a></li>
					  <li class="filter-item-level4 check"><a href="#">北</a></li>
					  <li class="filter-item-level4 check"><a href="#">南北</a></li>
					  	
					</ul>
					<ul class="filter-ul hide">
						<li class="filter-item-level4 filter-item-aside"><a href="#">品牌</a></li>
						<li class="filter-item-level4 check"><a href="#">链家</a></li>
						<li class="filter-item-level4 check"><a href="#">自如</a></li>
					</ul>
					<ul class="filter-ul hide">
						<li class="filter-item-level4 filter-item-aside"><a href="#">租期</a></li>
						<li class="filter-item-level4 check"><a href="#">月租</a></li>
						<li class="filter-item-level4 check"><a href="#">年租</a></li>
						<li class="filter-item-level4 check"><a href="#">一个月起租</a></li>
						<li class="filter-item-level4 check"><a href="#">1-3个月</a></li>
						<li class="filter-item-level4 check"><a href="#">4-6个月</a></li>
					</ul>
					<ul class="filter-ul hide">
						<li class="filter-item-level4 filter-item-aside"><a href="#">楼层</a></li>
						<li class="filter-item-level4 check"><a href="#">低楼层</a></li>
						<li class="filter-item-level4 check"><a href="#">中楼层</a></li>
						<li class="filter-item-level4 check"><a href="#">高楼层</a></li>
						
					</ul>
					<ul class="filter-ul hide">
						<li class="filter-item-level4 filter-item-aside"><a href="#">电梯</a></li>
						<li class="filter-item-level4 check"><a href="#">无电梯</a></li>
						<li class="filter-item-level4 check"><a href="#">有电梯</a></li>
						
					</ul>
				</div>
			    <div class="filter-item-more" >更多<i class="more-ico up"></i></div>
			     <div class="filter-item-more" style="display: none;">收起<i class="more-ico down"></i></div>
			</div>
			<div class="content">
				<div class="content_article">
					<p class="content-title">
						已为您找到 &nbsp;<span class="content-title-h1">19585</span>&nbsp;套&nbsp;<a href="#" class="fontblack">上海租房</a>
						<span class="content_title_aside"><a href="#" class="clerurl">清空条件</a></span>
					</p>
					<ul class="content_filter" id="contentList">
						<li class="content_filter_selected"><a href="#">综合排序</a></li>
						<li><a href="#">最新上架</a></li>
						<li><a href="#">价格</a></li>
						<li><a href="#">面积</a></li>
					</ul>
				    <div class="content_list">
				    	<div class="content_list_item">
				    		<a href="/online/houseDetail" class="content_list_item_aside">
				    			<img src="/online/static/img/zufang/house1.jpg"/>
				    		</a>
				    		<div class="content_list_item_main">
				    			<p class="content_list_item_title"><a href="/online/houseDetail">整租·龙吴路5599弄 1室1厅 南/北 </a></p>
				    			<p class="content_list_item_des">
				    				<a href="#">闵行</a>-
				    				<a href="#">吴泾</a>-
				    				<a href="#">龙吴路5599弄</a>
				    				<i>/</i>61㎡<i>/</i>南 北 <i>/</i>1室1厅1卫
				    				<span class="hide">
				    				<i>/</i> 高楼层 （6层）
                  	
				    				</span>
				    			</p>
				    			<p class="content_list_item_brand oneline">
				    				贝壳优选  
				    			</p>
				    			<p class="content_list_item_time oneline">今天发布</p>
				    			<p class="content_list_item_bottom">
				    				<i class="content_item_tag_is_subway">近地铁</i>				    				
				    				<i class="content_item_tag_is_decoration">近地铁</i>
						            <i class="content_item_tag_is_new">新上</i>
						            <i class="content_item_tag_is_key">随时看房</i>
	            				</p>
	            				<span class="content_list_item_price">
	            					<em>2700</em>&nbsp;&nbsp;元/月
	            				</span>
				    		</div>
				    	</div>
				    	<div class="content_list_item">
				    		<a href="#" class="content_list_item_aside">
				    			<img src="/online/static/img/zufang/house1.jpg"/>
				    		</a>
				    		<div class="content_list_item_main">
				    			<p class="content_list_item_title"><a href="#">整租·龙吴路5599弄 1室1厅 南/北 </a></p>
				    			<p class="content_list_item_des">
				    				<a href="#">闵行</a>-
				    				<a href="#">吴泾</a>-
				    				<a href="#">龙吴路5599弄</a>
				    				<i>/</i>61㎡<i>/</i>南 北 <i>/</i>1室1厅1卫
				    				<span class="hide">
				    				<i>/</i> 高楼层 （6层）
                  	
				    				</span>
				    			</p>
				    			<p class="content_list_item_brand oneline">
				    				贝壳优选  
				    			</p>
				    			<p class="content_list_item_time oneline">今天发布</p>
				    			<p class="content_list_item_bottom">
				    				<i class="content_item_tag_is_subway">近地铁</i>				    				
				    				<i class="content_item_tag_is_decoration">近地铁</i>
						            <i class="content_item_tag_is_new">新上</i>
						            <i class="content_item_tag_is_key">随时看房</i>
	            				</p>
	            				<span class="content_list_item_price">
	            					<em>2700</em>&nbsp;&nbsp;元/月
	            				</span>
				    		</div>
				    	</div>
				    	<div class="content_list_item">
				    		<a href="#" class="content_list_item_aside">
				    			<img src="/online/static/img/zufang/house1.jpg"/>
				    		</a>
				    		<div class="content_list_item_main">
				    			<p class="content_list_item_title"><a href="#">整租·龙吴路5599弄 1室1厅 南/北 </a></p>
				    			<p class="content_list_item_des">
				    				<a href="#">闵行</a>-
				    				<a href="#">吴泾</a>-
				    				<a href="#">龙吴路5599弄</a>
				    				<i>/</i>61㎡<i>/</i>南 北 <i>/</i>1室1厅1卫
				    				<span class="hide">
				    				<i>/</i> 高楼层 （6层）
                  	
				    				</span>
				    			</p>
				    			<p class="content_list_item_brand oneline">
				    				贝壳优选  
				    			</p>
				    			<p class="content_list_item_time oneline">今天发布</p>
				    			<p class="content_list_item_bottom">
				    				<i class="content_item_tag_is_subway">近地铁</i>				    				
				    				<i class="content_item_tag_is_decoration">近地铁</i>
						            <i class="content_item_tag_is_new">新上</i>
						            <i class="content_item_tag_is_key">随时看房</i>
	            				</p>
	            				<span class="content_list_item_price">
	            					<em>2700</em>&nbsp;&nbsp;元/月
	            				</span>
				    		</div>
				    	</div>
				    	<div class="content_list_item">
				    		<a href="#" class="content_list_item_aside">
				    			<img src="/online/static/img/zufang/house1.jpg"/>
				    		</a>
				    		<div class="content_list_item_main">
				    			<p class="content_list_item_title"><a href="#">整租·龙吴路5599弄 1室1厅 南/北 </a></p>
				    			<p class="content_list_item_des">
				    				<a href="#">闵行</a>-
				    				<a href="#">吴泾</a>-
				    				<a href="#">龙吴路5599弄</a>
				    				<i>/</i>61㎡<i>/</i>南 北 <i>/</i>1室1厅1卫
				    				<span class="hide">
				    				<i>/</i> 高楼层 （6层）
                  	
				    				</span>
				    			</p>
				    			<p class="content_list_item_brand oneline">
				    				贝壳优选  
				    			</p>
				    			<p class="content_list_item_time oneline">今天发布</p>
				    			<p class="content_list_item_bottom">
				    				<i class="content_item_tag_is_subway">近地铁</i>				    				
				    				<i class="content_item_tag_is_decoration">近地铁</i>
						            <i class="content_item_tag_is_new">新上</i>
						            <i class="content_item_tag_is_key">随时看房</i>
	            				</p>
	            				<span class="content_list_item_price">
	            					<em>2700</em>&nbsp;&nbsp;元/月
	            				</span>
				    		</div>
				    	</div>
				    	<div class="content_list_item">
				    		<a href="#" class="content_list_item_aside">
				    			<img src="/online/static/img/zufang/house1.jpg"/>
				    		</a>
				    		<div class="content_list_item_main">
				    			<p class="content_list_item_title"><a href="#">整租·龙吴路5599弄 1室1厅 南/北 </a></p>
				    			<p class="content_list_item_des">
				    				<a href="#">闵行</a>-
				    				<a href="#">吴泾</a>-
				    				<a href="#">龙吴路5599弄</a>
				    				<i>/</i>61㎡<i>/</i>南 北 <i>/</i>1室1厅1卫
				    				<span class="hide">
				    				<i>/</i> 高楼层 （6层）
                  	
				    				</span>
				    			</p>
				    			<p class="content_list_item_brand oneline">
				    				贝壳优选  
				    			</p>
				    			<p class="content_list_item_time oneline">今天发布</p>
				    			<p class="content_list_item_bottom">
				    				<i class="content_item_tag_is_subway">近地铁</i>				    				
				    				<i class="content_item_tag_is_decoration">近地铁</i>
						            <i class="content_item_tag_is_new">新上</i>
						            <i class="content_item_tag_is_key">随时看房</i>
	            				</p>
	            				<span class="content_list_item_price">
	            					<em>2700</em>&nbsp;&nbsp;元/月
	            				</span>
				    		</div>
				    	</div>
				    </div>
				    <div class="content_pg">
				    	<a href="#" class="hide">上一页</a>
				    	<a href="#" class="cur">1</a>
				    	<a href="#">2</a>
				    	<a href="#">3</a>
				    	<span>...</span>
				    	<a href="#">100</a>
				    	<a href="#" class="next">下一页</a>
				    </div>
				</div>
			    <div class="content-aside">
			    	<div class="download">
			    		<div class="title">下载链家APP</div>
			    		<div class="qr-code">
			    			<img src="/online/static/img/index/getDownloadQr.png"  alt="" width="94" height="94"/>
			    			<div class="text">
			    				<p>扫描上方二维码</p>
			    				<p>随时查看新房源</p>
			    				<p class="get-more">
			    					<a href="#">
			    						了解更多
			    					    <img src="/online/static/img/zufang/getmore.png" width="9" height="9"/>
			    					</a>
			    				</p>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			</div>
			<div class="footer">
			  <div class="footer_wrapper">
				<div class="footer_top">
					<ul class="footer_light">
						<li><a href="#">网站地图</a></li>
					</ul>
					<a href="#" class="footer_aside">
						客服电话<span>10001899</span>
					</a>
				</div>
				<div class="footer_middle">
					<ul class="parentList">
						<li><a class="cur" href="#">热门商圈</a></li>
						<li><a href="#">推荐小区</a></li>
						<li><a href="#">租房城市</a></li>
					</ul>
					<ul class="childrenList">
						<li><a href="#">中山公园租房</a></li>
						<li><a href="#">漕泾租房</a></li>
						<li><a href="#">花木租房</a></li>
						<li><a href="#">不夜城租房</a></li>
						<li><a href="#">城北租房</a></li>
						<li><a href="#">柯桥市区租房</a></li>
						<li><a href="#">柯东租房</a></li>
						<li><a href="#">袍江租房</a></li>
						<li><a href="#">城南租房</a></li>
						<li><a href="#">中山公园租房</a></li>
						<li><a href="#">漕泾租房</a></li>
						<li><a href="#">花木租房</a></li>
						<li><a href="#">不夜城租房</a></li>
						<li><a href="#">城北租房</a></li>
						<li><a href="#">柯桥市区租房</a></li>
						<li><a href="#">柯东租房</a></li>
						<li><a href="#">袍江租房</a></li>
						<li><a href="#">城南租房</a></li>
					</ul>
					<ul style="display: none;" class="childrenList">
						<li><a href="#">中山路56弄租房</a></li>
						<li><a href="#">北海宁路49号租房</a></li>
						<li><a href="#">安福路193号租房</a></li>
						<li><a href="#">佳兆业8号(公寓)租房</a></li>
					<ul>
					<ul style="display: none;" class="childrenList">
						<li><a href="#">绍兴租房</a></li>
						<li><a href="#">东莞租房</a></li>
						<li><a href="#">南京租房</a></li>
						<li><a href="#">杭州租房</a></li>
					</ul>
				</div>
				<div class="footer_bottom">
					<p>
						链家网（北京）科技有限公司 | 网络经营许可证 京ICP备16057509号-2 | © Copyright©2010-2018 链家网Lianjia.com版权所有
					</p>
					<a href="#">
						<img src="/online/static/img/index/beian.png" />京公网安备 11010802024019号
					</a>
				</div>
			  </div>
			
			</div>
		</div>
		
	</body>
	
</html>
